@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
    color: #333
}
h2{
  text-align: center;
  padding: 30px;
  font-size: 25px;
}
/* 전체 */
.wrap{
    width: 100%;
    position: relative;
}
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}
/* 상단 */
.header{
    height: 80px;
    width: 100%;
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 1px solid #666;
}
.header-inner{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
/* 로고 */
.header-inner > a{
    width: 300px;
    height: 100%;
}
.header-inner > a > h1{
    color: #fff;
    font-size: 45px;
    line-height: 80px;
}
/* 로그인 */
.user-list{
    display: flex;
    justify-content: flex-end;
    width: 300px;
    height:100%;
    padding: 30px 0;
}
.user-list > li{
    margin: 0 10px;
}
.user-list > li > a{
    color: #fff;
}
.user-list > li > a > i {
    font-size: 25px;
} 
/* 메뉴 */
.menu{
    width: 100%;
    height: 50px;
    background-color: #111;
    position: fixed;
    left: 0;
    top: 80px;
    z-index: 999;
}
.menu-inner{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.navi{
    display: flex;
    width: 80%;
}
.menu-inner > a > i{
    color: #fff;
    line-height: 50px;
    font-size: 20px;
    padding-right: 10px;
}
.navi > li{
width: 145px;
text-align: center;
/* background-color: #666; */
}
.navi > li > a{
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
}
/* 서브메뉴 */
.submenu{
    position: relative;
    background-color: #111;
    z-index: 99;
    display: none;
}
.submenu > li > a{
    font-size: 15px;
    /* font-weight: bold; */
    color: #fff;
    line-height: 50px;
}

/* 박스오피스 스와이퍼 */
.bo{
    width: 100%;
    position: relative;
    margin-top: 130px;
    /* background: url(../images/mainbg1.png)no-repeat center;
    background-size: contain; */
}
.bo::before{
    content: "";
    width: 100%;
    height: 100%;
    background: url(../images/mainbg1.png)no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.bo-inner{
    height: 100%;
    position: relative;
}

.bo-title{
    color: #fff;
}
/* 스와이퍼 부분 */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 50px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .bo-main {
    /* height: 80%; */
    width: 100%;
    margin-bottom: 3%;
  }
  .bo-main .swiper-slide{
    width: 100%;
    height: 100%;
  }
  .bo-main .swiper-slide img{
    width: 30%;
    height: 100%;
  }
  /* 박스오피스 영화 설명 */
  .bo-txt{
    width: 50%;
  }
  .bo-txt h3{
    font-size: 40px;
    margin-bottom: 30px;
    color: #fff;
  }
  .bo-txt ul{
    display: flex;
    gap: 10px;
}
.bo-txt ul li{
    color: #fff;
    font-size: 30px;
}
.bo-txt ul li i{
    color: #E53939;
}
  .bo-txt ul li button{
    width: 150px;
    height: 50px;
    background-color: #E53939;
    border: none;
    border-radius: 10px;
  }
  .bo-txt ul li button a{
    font-size: 26px;
    font-weight: bold;
    color: #fff;
  }
  .bo-txt h4{
    font-size: 25px;
    padding: 20px 0;
    color: #fff;
  }
  .bo-txt p{
    color: #fff;
    font-size: 15px;
  }
  /* 박스오피스 리스트 */
  .bo-list {
    height: 20%;
    width: 40%;
    box-sizing: border-box;
    padding: 10px 0px 50px;
    min-width: 424px;
    
  }

  .bo-list .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .bo-list .swiper-slide-thumb-active {
    opacity: 1;
  }

  .bo-list .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* 이벤트 */
  .event{
    width: 100%;
    position: relative;
  }
  .event-inner{
    position: relative;
  }
.event-list{
  position: relative;
  width: 100%;
  display: flex;
  gap: 30px;
}
.event-list li{
  position: relative;
  width: calc(100% / 3);
}
.event-list li a{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.event-img{
  width: 100%;
  height: 200px;
}
.event-list li a img{
  width: 100%;
}